<div class="container">
  <div class="row my-3">
    <div class="col-lg-8 offset-lg-2">
      <h2>Összesítő adatok</h2>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2 d-md-flex flex-sm-row">
      <div class="col-12 col-md-6">
        <app-product-little-card></app-product-little-card>
      </div>
      <div class="col-12 col-md-6">
        <app-customer-little-card></app-customer-little-card>
      </div>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2 d-md-flex flex-sm-row">
      <div class="col-12 col-md-6">
        <app-order-little-card></app-order-little-card>
      </div>
      <div class="col-12 col-md-6">
        <app-bill-little-card></app-bill-little-card>
      </div>
    </div>
  </div>
  <app-product-card></app-product-card>
  <app-customer-card></app-customer-card>
  <app-order-card></app-order-card>
  <app-bill-card></app-bill-card>
  <app-customer-geochart></app-customer-geochart>
</div>
