<div class="container">
  <div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title">Rendelés hozzádása hozzáadása vagy módosítása</h4>
      <p class="card-category">A *-gal jelölt mezők kitöltése kötelező</p>
    </div>
    <div class="card-body">
      <div class="row mb-3 ml-3">
        <div *ngIf="order" class="col-12 mt-3">

          <form #orderForm="ngForm" (ngSubmit)="onSaveOrder(order)">

            <div class="row mb-3">
              <h3>
                A rendelés adatai
              </h3>
            </div>

            <div class="row mb-3 ml-1">
              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="order-ID" class="font-weight-bold">Order ID</label>
                <input class="form-control" [(ngModel)]="order.id" type="number" disabled name="id" id="order-ID">
              </div>

              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="customer-ID" class="font-weight-bold">Customer ID *</label>
                <input class="form-control" [(ngModel)]="order.customerID" type="number" name="customerID"
                  id="customer-ID" required min="1" pattern="^\d+$">
              </div>

              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="product-ID" class="font-weight-bold">Product ID *</label>
                <input class="form-control" [(ngModel)]="order.productID" type="number" name="productID" id="product-ID"
                  required min="1" pattern="^\d+$">
              </div>

              <div class="form-group col-lg-3 col-md-6">
                <label for="amount" class="font-weight-bold">Amount *</label>
                <input class="form-control" [(ngModel)]="order.amount" type="number" name="amount" id="amount" required
                  min="1" pattern="^\d+$">
              </div>
            </div>


            <div class="row mb-3">
              <div class="form-group col-4">
                <label for="status" class="font-weight-bold">Status *</label>
                <select class="form-control" [(ngModel)]="order.status" type="text" name="status" id="status" required>
                  <option *ngFor="let key of selectionKeys" [value]="key">
                    {{key}}
                  </option>
                </select>
              </div>
            </div>


            <div class="row mx-0">
              <div class="error-message" [hidden]="orderForm.valid">
                Hibaüzenet:
                <div [hidden]="orderForm.controls['customerID']?.valid">
                  Customer ID: 0-tól nagyobb egész számnak kell lennie!
                </div>
                <div [hidden]="orderForm.controls['productID']?.valid">
                  Product ID: 0-tól nagyobb egész számnak kell lennie!
                </div>
                <div [hidden]="orderForm.controls['amount']?.valid">
                  Amount: 0-tól nagyobb egész számnak kell lennie!
                </div>
              </div>
            </div>

            <div class="button-group mt-5">
              <button [disabled]="orderForm.invalid" class="btn btn-info mr-3" type="submit">
                Mentés
              </button>

              <button (click)="onRemoveOrder(order)" class="btn btn-default mr-3" type="button" [hidden]="id==='0'">
                Törlés
              </button>

              <button routerLink="/order" class="btn btn-secondary" type="button">
                Mégsem
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
