<div class="container py-5">
  <h5>Szűrés:</h5>
  <div class="row ">
    <div class="col-4">
      <select [(ngModel)]="filterKey" class="form-control">
        <option value="">Összes termék</option>
        <option *ngFor='let key of keys' [value]="key">{{ key | titlecase }}</option>
      </select>
    </div>
    <div class="col-8">
      <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Keresés...">
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <table class="table table-striped mt-3">
      <thead>
        <tr class="sticky-top bg-white">
          <th *ngFor="let key of keys" class="text-center font-weight-bold" (click)="
            onColumnSelect(key)">{{ key |
            titlecase }}<i *ngIf="direction === -1" class="fa fa-toggle-up pl-1"></i><i *ngIf="direction === 1"
              class="fa fa-toggle-down pl-1"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList$ | async | filter:phrase:filterKey | sorter:sorterKey:direction">
          <td>{{ customer.id }}</td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.address.full }}</td>
          <td *ngIf="customer.active == true"><i class="fa fa-check"></i></td>
          <td *ngIf="customer.active == false"><i class="fa fa-ban"></i></td>
          <td>
            <button [routerLink]="['/', 'edit-customer', customer.id]" class="btn btn-info"><i
                class="fa fa-pencil"></i></button>
            <button (click)="onRemoveCustomer(customer)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
