<div class="row mt-5">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let key of keys">{{ key | titlecase }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="btn btn-info"><i class="fa fa-eye"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
