.stats1 {

  @media only screen and (max-width: 765px) {
    visibility: hidden;;
  }
}

.stats2 {

  @media only screen and (min-width: 765px) {
    visibility: hidden;;
  }
}

.dashboard-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
