thead tr th:not(:last-child) {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .mat-cell {
    font-size: 0.75rem;
  }
  .lead {
    font-size: 0.75rem;
    font-weight: bold;
  }  

}
