<app-base-card [title]="title" [row]="row" [colorClass]="colorClass" [cardTitle1]="cardTitle1"
  [cardTitleValue1$]="cardTitleValue1$" [cardTitle2]="cardTitle2" [cardTitleValue2$]="cardTitleValue2$"
  [theadTitle]="theadTitle" [cardTableValue1$]="cardTableValue1$" [cardTableValue2$]="cardTableValue2$"
  [valueType]="valueType" [diagrammTitle]="diagrammTitle" [number]="number" [type]="type" [values]="values"
  [colors]="colors" [keys]="keys" [chartValue1$]="chartValue1$" [chartValue2$]="chartValue3$"
  [chartValue3$]="chartValue2$" [chartValue4$]="chartValue4$" [options]="options" [timeNumber]="timeNumber"
  [timeFormat]="timeFormat">
</app-base-card>
