<div class="container">
  <div class="card">
    <div class="card-header card-header-rose">
      <h4 class="card-title">Számla hozzáadása</h4>
      <p class="card-category">A *-gal jelölt mezők kitöltése kötelező</p>
    </div>
    <div class="card-body">
      <div class="row mb-3 ml-3">
        <div *ngIf="bill" class="col-12">
          <form #billForm="ngForm" (ngSubmit)="onAddBill(bill)">

            <input [(ngModel)]="bill.id" type="hidden" name="id">

            <div class="row mb-3">
              <h3>
                A számla adatai
              </h3>
            </div>

            <div class="row mb-2">
              <div class="col-lg-5 col-md-12 mb-2">
                <div class="form-group">
                  <label for="name-orderID">OrderID *</label>
                  <input [(ngModel)]="bill.orderID" class="form-control" type="number" name="orderID"
                  [disabled]="bill.id !== 0" id="name-orderID" required pattern="[0-9]{3,}" min="1"
                    placeholder="Add meg a számla azonosítóját!">
                  <div class="error-message"
                  [hidden]="billForm.controls['orderID']?.valid">
                    A számla azonosítója egy háromjegyű szám kell legyen!
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12">
                <div class="form-group">
                  <label for="name-amount">Amount *</label>
                  <input [(ngModel)]="bill.amount" class="form-control" type="number" name="amount"
                    [disabled]="bill.id !== 0" id="name-amount" required pattern="[0-9]{1,}" min="1"
                    placeholder="Add meg a számla végösszegét!">
                  <div class="error-message"
                  [hidden]="billForm.controls['amount']?.valid">
                    A számla végösszege csak számokat tartalmazhat!
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-4">
                <div class="form-group">
                  <label for="name-status">Status *</label>
                  <select [(ngModel)]="bill.status" class="form-control" type="checkbox" name="status" id="name-status"
                    required>
                    <option *ngFor="let key of selectionKeys" [value]="key">
                      {{key}}
                    </option>
                  </select>
                </div>
              </div>

            </div>

            <div>
              <button [disabled]="billForm.invalid" class="btn btn-rose" type="submit">Mentés</button>
              <button routerLink="/bill" class="btn btn-secondary" type="button">Mégsem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
