<app-base-card [title]="title" [row]="row" [colorClass]="colorClass" [cardTitle1]="cardTitle1"
  [cardTitleValue1$]="cardTitleValue1$" [cardTitle2]="cardTitle2" [cardTitleValue2$]="cardTitleValue2$"
  [theadTitle]="theadTitle" [cardTableValue1$]="cardTableValue1$" [cardTableValue2$]="cardTableValue2$"
  [cardTableValue3$]="cardTableValue3$" [cardTableValue4$]="cardTableValue4$" [valueType]="valueType"
  [diagrammTitle]="diagrammTitle" [number]="number" [type]="type" [values]="values" [colors]="colors"
  [chartValue1$]="chartValue1$" [chartValue2$]="chartValue2$" [options]="options" [timeNumber]="timeNumber"
  [timeFormat]="timeFormat">
</app-base-card>
