<div class="container">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Vásárló hozzádása hozzáadása vagy módosítása</h4>
      <p class="card-category">A *-gal jelölt mezők kitöltése kötelező</p>
    </div>
    <div class="card-body">
      <div class="row mb-3 ml-3">
        <div *ngIf="customer" class="col-12">
          <form #customerForm="ngForm">
            <div class="row mb-2">
              <h3>Személyes adatok</h3>
            </div>
            <div class="row">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="customer['id']" type="hidden" name="id">
              </div>
              <div class="form-group col-lg-3 col-md-12 mb-2">
                <label for="customerFirstName">Keresztnév *</label>
                <input class="form-control" [(ngModel)]="customer['firstName']" type="text" name="firstName"
                  id="customerFirstName" required pattern="^[a-űA-Ű ]{3,}$">
                <div
                  [hidden]="customerForm.controls['firstName']?.valid || customerForm.controls['firstName']?.pristine"
                  class="error-message">
                  A keresztnév hossza legalább 3 karakter és csak betűket tartalmazhat
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-12 mb-2">
                <label for="customerLastName">Vezetéknév *</label>
                <input class="form-control" [(ngModel)]="customer['lastName']" type="text" name="lastName"
                  id="customerLastName" required pattern="^[a-űA-Ű ]{3,}$">
                <div [hidden]="customerForm.controls['lastName']?.valid || customerForm.controls['lastName']?.pristine"
                  class="error-message">
                  A vezetéknév hossza legalább 3 karakter és csak betűket tartalmazhat
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-12">
                <label for="customerEmail">Email cím *</label>
                <input class="form-control" [(ngModel)]="customer['email']" type="email" name="email" id="customerEmail"
                  required pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}(\.[a-z]{2,})*$">
                <div [hidden]="customerForm.controls['email']?.valid || customerForm.controls['email']?.pristine"
                  class="error-message">
                  Nem érvényes email cím formátum
                </div>
              </div>
            </div>
            <div class="row mb-2 mt-3">
              <h3>Cím adatok</h3>
            </div>
            <div class="row mt-2">
              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="customerAddressZip">Irányítószám *</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="customer.address.zip" type="text" name="zip"
                    id="customerAddressZip" required required pattern="^[\d-]{3,}$">
                  <div [hidden]="customerForm.controls['zip']?.valid || customerForm.controls['zip']?.pristine"
                    class="error-message">
                    Az irányítószám hossza legalább 3 karakter és csak számokat tartalmazhet
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="customerAddressCountry">Ország *</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="customer.address.country" type="text" name="country"
                    id="customerAddressCountry" required pattern="^[a-űA-Ű\s]{3,}$">
                  <div [hidden]="customerForm.controls['country']?.valid || customerForm.controls['country']?.pristine"
                    class="error-message">
                    A ország nevének hossza legalább 3 karakter
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="customerAddressCity">Város *</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="customer.address.city" type="text" name="city"
                    id="customerAddressCity" required pattern="^[a-űA-Ű\s-]{3,}$">
                  <div [hidden]="customerForm.controls['city']?.valid || customerForm.controls['city']?.pristine"
                    class="error-message">
                    A város nevének hossza legalább 3 karakter
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-group col-lg-3 col-md-6 mb-2">
                <label for="customerAddressStreet">Közterület *</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="customer.address.street" type="text" name="street"
                    id="customerAddressStreet" required pattern="^([a-űA-Ű0-9_'\s-]{5,}){1,3}$">
                  <div [hidden]="customerForm.controls['street']?.valid || customerForm.controls['street']?.pristine"
                    class="error-message">
                    A közterület nevének hossza legalább 5 karakter és nem tartalmazhat speciális karaktert
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label for="customerAddressNotes">Egyéb megjegyzés *</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="customer.address.notes" type="text" name="notes"
                    id="customerAddressNotes" required pattern="^[a-űA-Ű0-9_\s-]{5,}$">
                  <div [hidden]="customerForm.controls['notes']?.valid || customerForm.controls['notes']?.pristine"
                    class="error-message">
                    A megjegyzés hossza legalább 5 karakter
                  </div>
                </div>
              </div>

              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" [(ngModel)]="customer.active" type="checkbox" name="active"
                  id="customerActive">
                <label class="custom-control-label" for="customerActive">Aktív</label>
              </div>
            </div>

            <div class="button-group mt-5">
              <button [disabled]="customerForm.invalid" class="btn btn-success mr-3"
                (click)="onUpdateCustomer(customer)">Mentés</button>
              <button [hidden]="customer.id === 0" class="btn btn-default mr-3"
                (click)="onRemoveCustomer(customer)">Törlés</button>
              <button routerLink="/customer" class="btn btn-secondary" type="button">Mégsem</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
