<div class="card dashboard-card">
  <div class="card-header card-header-icon {{ colorClass }}">
    <div class="card-icon">
      <i class="material-icons">{{ materialIcon }}</i>
    </div>
    <h4 *ngIf="materialIcon == 'storage'" class="card-title text-right h2">{{ cardValue$ | async | customCurrency }}
    </h4>
    <h4 *ngIf="materialIcon != 'storage'" class="card-title text-right h2">{{ cardValue$ | async | customNumber}}
      {{
      valueType }}
    </h4>
  </div>
  <div class="card-body">
    <h5>{{ cardBodyTitle }}</h5>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons">access_time</i> updated
      <span *ngIf="timeNumber">&nbsp;{{ timeNumber }}</span>
      <span>&nbsp;{{ timeFormat }}&nbsp;</span>
      ago
    </div>
  </div>
</div>
